@model IEnumerable<BibliotecaBd.Models.Editorial>

@{
    ViewData["Title"] = "Index";
}

<h1 style="background-color: aquamarine;">Editoriales</h1>

<p>
    <a asp-action="Create">Registrar una Nueva Editorial</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Editorial1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombrecontacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombrecontacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Ideditorial" button class="btn btn-primary" type="submit">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Ideditorial" button class="btn btn-primary" type="submit">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Ideditorial" button class="btn btn-primary" type="submit">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
